@font-face {
  font-family: "NeueMontreal-Regular";
  font-style: normal;
  font-weight: 450;
  font-display: swap;
  src: url("/fonts/NeueMontreal-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "EditorialNew-Ultralight";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/EditorialNew-Ultralight.woff2") format("woff2");
}

@font-face {
  font-family: "DMMono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/DMMono-Regular.woff2") format("woff2");
}

@font-face {
  src: url("/fonts/F37-Bold.otf") format("otf"),
    url("/fonts/F37-Bold.otf") format("woff");
  font-family: "F37";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

:root {
  --py-2: 1rem;
  --px-2: 2.5vw;
  --golden-ratio: 1.75rem;
  --max-width: 90rem;

  --nav-toggle: var(--text-color);
  --loader-bg: hsla(2, 89%, 58%, 100%);

  --white: #fff;
  --black: #000;

  --font: "NeueMontreal-Regular", "SF Pro Display", Helvetica, sans-serif;
  --font-2: "EditorialNew-Ultralight", serif;
  --font-3: "DMMono", monospace;
  --font-4: "F37", sans-serif;
  /* --font-2: ivypresto-display, "EditorialNew-Ultralight", serif; */
  --border-color: #312f2f;

  --ls-sm: -0.02em;
  --ls-md: -0.035em;
  --ls-lg: -0.055em;

  --spacing-sm: 11px;
  --spacing-md: 16px;
  --spacing-lg: 21px;

  --spacer: 2rem;
  --spacer-md: 3rem;
  --spacer-lg: 5rem;

  --easing: cubic-bezier(0.215, 0.61, 0.355, 1);

  --duration: 0.8s;

  --size-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --size-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --size-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --size-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --size-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --size-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --size-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --size-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
  --size-2000: clamp(16.01rem, 16.12rem + 16.1vw, 16.28rem);
}

[data-theme="light"] {
  /* --bg: #edeae4;
  --text-color: #28282a; */

  --bg: #fffdf8;
  --text-color: #3c422e;
  --white: var(--black);
}

[data-theme="dark"] {
  --bg: #0a0a0a;
  --text-color: rgba(255, 255, 255, 0.9);
  --black: var(--white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
button,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
svg,
img,
strong,
ol,
ul,
li,
form,
aside,
article,
footer,
header,
input,
optgroup,
select,
textarea,
fieldset,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}

html {
  background-color: var(--bg);
}

html:not(.has-scroll-init) {
  cursor: wait;
  overflow: hidden;
}

html[data-direction="down"] .header-box_animation {
  transform: translateY(-100%);
}

html[data-direction="down"] .bg-scale {
  transform: scale3d(1.13, 1.13, 1);
  transform-origin: 50% 50%;
  will-change: transform;
}

body {
  width: 100%;
  min-height: 100vh;
  font-feature-settings: "kern";
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  color: var(--text-color);
  font-family: var(--font);
  font-weight: normal;
  font-size: var(--size-400);
  transition: all 300ms ease;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: inherit;
  background-color: transparent;
}

/* typography styling */
h1 {
  letter-spacing: var(--ls-md);
  line-height: 1.3;
  font-family: var(--font-2);
  font-size: var(--size-800);
}

h2 {
  font-size: var(--size-700);
}

h3 {
  font-size: var(--size-600);
}

h4 {
  font-size: var(--size-500);
}
@media (max-width: 767px) {
  h4 {
    font-size: var(--size-400);
  }
}

h5 {
  font-size: var(--size-500);
}

p {
  hyphens: auto;
  word-break: break-word;
}

/* helper classes that a reused often */

.hidden {
  display: none;
}

.mono {
  font-family: var(--font-3);
  font-size: var(--size-300);
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ls-lg {
  letter-spacing: var(--ls-lg);
}

.overflow-hidden {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.m-auto {
  margin: auto;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.inline-flex {
  display: inline-flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.cursor-pointer {
  cursor: pointer;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex-column {
  flex-direction: column;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.not-selectable {
  user-select: none;
}

.bg-scale {
  transition: transform 1.4s ease;
}

.bg-full {
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.bg-full-lg {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  top: -1rem;
  right: 0;
  bottom: 0;
  left: 0;
}

.px-2 {
  padding-left: calc(var(--golden-ratio) - var(--px-2));
  padding-right: calc(var(--golden-ratio) - var(--px-2));
}

.py-2 {
  padding-top: calc(var(--golden-ratio) - var(--px-2));
  padding-bottom: calc(var(--golden-ratio) - var(--px-2));
}

.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: "";
}

.link--metis {
  text-transform: inherit;
}

.link--metis::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.5s;
}

.link--metis:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.a-img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: translateZ(0) scale3d(1.25, 1.25, 1);
  transform-origin: 50% 50%;
  transition: transform 1.35s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.5s cubic-bezier(0.38, 0.005, 0.215, 1);
  transition-delay: 0.5s;
}

.is-inview .a-img {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

@media (max-width: 767px) {
  .hide-for-mobile {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  .py-2 {
    padding-top: var(--golden-ratio);
    padding-bottom: var(--golden-ratio);
  }

  .px-2 {
    padding-left: var(--golden-ratio);
    padding-right: var(--golden-ratio);
  }

  .hide-for-desktop {
    display: none;
    visibility: hidden;
  }
}

.menu {
  position: fixed;
  background-color: orangered;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: var(--px-2);
  visibility: hidden;
  clip-path: inset(0 0 0 100%);
  transition: clip-path 1.15s cubic-bezier(0.77, 0, 0.18, 1),
    visibility 1.15s cubic-bezier(0.77, 0, 0.18, 1) 0.1s;
}

.open {
  clip-path: inset(0%);
  transition: clip-path 1s cubic-bezier(0.76, 0, 0.24, 1);
  visibility: visible;
}

.menu_container {
  position: absolute;
  right: var(--spacer-md);
  bottom: var(--spacer);
}

.menu_hover li {
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.2s var(--easing);
}

.menu_hover:hover > li {
  transition: opacity 400ms;
  opacity: 0.5;
}

.menu_hover:hover > li:hover {
  opacity: 1;
  color: red;
}

.menu-list_item {
  margin-bottom: var(--spacing-sm);
}

.menu_list-title {
  font-size: 3.5rem;
  text-transform: capitalize;
  letter-spacing: var(--ls-lg);
  font-family: var(--font-2);
  color: var(--text-color);
}

/* embla {
  position: relative;
}
.embla__viewport {
  overflow: hidden;
  width: 100%;
}
.embla__viewport.is-draggable {
  cursor: pointer;
}
.embla__viewport.is-dragging {
  cursor: grabbing;
}
.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -html-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -5vw;
}
.embla__slide {
  position: relative;
  min-width: 65%;
  padding-left: 5vw;
  @media (min-width: 768px) {
    min-width: 60%;
  }
  @media (min-width: 1024px) {
    min-width: 50%;
  }
}
.embla__slide__inner {
  position: relative;
  overflow: hidden;
}
.will-change {
  will-change: transform;
}
.embla__slide__img {
  width: 100%;
}
.embla__container {
  h2 {
    font-size: 6.5vw;
    font-weight: 500;
    letter-spacing: var(--ls-lg);
    @media (min-width: 768px) {
      font-size: 2.5vw;
    }
  }
  .embla__slide {
    opacity: 0.25;
    transition: opacity var(--easing) 300ms !important;
    .enmla__slide_content_box {
      visibility: hidden;
    }
  }
  .is-selected {
    opacity: 1;
    .enmla__slide_content_box {
      visibility: visible;
    }
  }
} */

/* .carousel {
  position: relative;
  width: 100%;
  background-color: black;
}

.carousel--container {
  position: relative;
  overflow: hidden;
}

.carousel--slides {
  position: relative;
  display: flex;
  touch-action: pan-y;
  will-change: transform;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.has-drag .carousel--slides {
  cursor: move;
  cursor: grab;
}
.has-drag .carousel--slides:active {
  cursor: grabbing;
}

.carousel--slides {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
}

.carousel--thumbs {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  width: 20rem;
  margin: 8rem;
}

.carousel--thumbs button {
  margin: 1rem;
}

.carousel--hud {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.carousel--nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  border-width: 4px solid var(--text-color);
  pointer-events: auto;
  padding: 1rem;
}

.carousel--prev,
.carousel--next {
  width: 8rem;
  height: 8rem;
  padding: 2rem;
  border-radius: 9999px;
  background-color: transparent;
}

.carousel--prev,
.carousel--next svg {
  display: block;
}

.carousel--status {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.carousel--counter {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.25rem;
  height: 8rem;
  border-radius: 9999px;
}

.carousel--dots + .carousel--counter {
  margin-left: 2rem;
  margin-right: 1rem;
}

.carousel--counter::after {
  position: absolute;
  left: -0.125rem;
  top: 3rem;
  bottom: 3rem;
  width: 0.25rem;
  content: "";
  opacity: 0.3;
  content: "";
}
.counter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 2rem;
}
.counter-item.is-current {
  padding-left: 3rem;
}
.counter-item.is-total {
  padding-right: 3rem;
}
.counter-item .counter-flipper {
  position: relative;
  overflow: hidden;
}
.counter-item .counter-flipper span {
  display: block;
  font-feature-settings: "tnum";
  will-change: transform;
}

.counter-item .counter-flipper span + span {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
}

.counter--dots {
  display: flex;
  align-items: center;
  position: relative;
  height: 8rem;
}
.counter--dots button {
  background-color: transparent;
  padding: 1rem;
}
.counter--dots button::before {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
  opacity: 0.3;
  display: block;
  transition: opacity 0.1s linear, transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);
  content: "";
}
.counter--dots button:hover::before {
  opacity: 1;
}

.counter--dots button.is-active {
  /* active state styles */

/* .counter--dots button.is-active::before {
  opacity: 1;
  scale: 1.5;
} * */
